<div class="pw-str" role="status" [attr.aria-label]="'Password strength: ' + label()">
  <div class="pw-str__track">
    <div
      class="pw-str__fill"
      [class.pw-str__fill--0]="strength() === 0"
      [class.pw-str__fill--1]="strength() === 1"
      [class.pw-str__fill--2]="strength() === 2"
      [class.pw-str__fill--3]="strength() === 3"
      [class.pw-str__fill--4]="strength() === 4"
      [style.width.%]="strength() * 25"
    ></div>
  </div>
  <span class="pw-str__label">{{ label() }}</span>
</div>
